/* CSS liberary */
.yahei {
	font-family: "Microsoft Yahei", "Tahoma", "SimSun";
}
/* color */
.color0 {
    color: #fd6c00;
}
.color1 {
    color: #3b9502;
}
.color2 {
    color: #ff0103;
}
.color3 {
    color: #333;
}
.color4 {
    color: #ff9c0a;
}
.color5 {
    color: #3195d0;
}
.color6 {
    color: #666;
}
.color7 {
    color: #cd0102;
}
.color8 {
    color: #2054db;
}
.color9 {
    color: #999;
}
.color00 {
    color: #000;
}
/* text-indent */
.ti2 {
    text-indent: 2em;
}
/* font-size */
.f12 {
	font-size: 12px;
}
.f14 {
	font-size: 14px;
}
.f16 {
	font-size: 16px;
}
.f18 {
	font-size: 18px;
}
.f20 {
	font-size: 20px;
}
.f22 {
	font-size: 22px;
}
.f24 {
	font-size: 24px;
}
.f26 {
	font-size: 26px;
}
/*font-weight*/
.fw {
    font-weight: bold;
}
/* width */
.w50 {
    width: 50px;
}
.w80 {
    width: 80px;
}
.w100 {
    width: 100px;
}
.w120 {
    width: 120px;
}
.w180 {
    width: 180px;
}
.w300 {
    width: 300px;
}
.w530 {
    width: 530px;
}
/* float */
.float_l {
	float: left;
}
.float_r {
	float: right;
}
.clearfix {
    clear: both;
}
/* text-align */
.t_c {
	text-align: center;
}
.t_r {
	text-align: right;
}
/* vartical-align */
.v_t {
  vertical-align: top;  
}
.v_m {
  vertical-align: middle;  
}
/* display */
.d_ib {
    display: inline-block;
}
/* padding */
.p0 {
	padding: 0px;
}
.pt3 {
	padding-top: 3px;
}
.pt5 {
	padding-top: 5px;
}
.pt8 {
	padding-top: 8px;
}
.pt10 {
	padding-top: 10px;
}
.pt12 {
	padding-top: 12px;
}
.pt15 {
	padding-top: 15px;
}
.pt20 {
	padding-top: 20px;
}
.pt30 {
	padding-top: 30px;
}
.pl3 {
	padding-left: 3px;
}
.pl5 {
	padding-left: 5px;
}
.pl10 {
	padding-left: 10px;
}
.pl12 {
	padding-left: 12px;
}
.pl15 {
	padding-left: 15px;
}
.pl20 {
	padding-left: 20px;
}
.pl30 {
	padding-left: 30px;
}
.pl40 {
	padding-left: 40px;
}
.pl50 {
	padding-left: 50px;
}
.pl120 {
	padding-left: 120px;
}
.pr3 {
	padding-right: 3px;
}
.pr5 {
	padding-right: 5px;
}
.pr10 {
	padding-right: 10px;
}
.pr12 {
	padding-right: 12px;
}
.pr15 {
	padding-right: 15px;
}
.pr20 {
	padding-right: 20px;
}
.pr30 {
	padding-right: 30px;
}
.pb3 {
	padding-bottom: 3px;
}
.pb5 {
	padding-bottom: 5px;
}
.pb10 {
	padding-bottom:10px;
}
.pb12 {
	padding-bottom:12px;
}
.pb15 {
	padding-bottom:15px;
}
.pb20 {
	padding-bottom: 20px;
}
.pb30 {
	padding-bottom: 30px;
}
/* margin */
.m0 {
    margin: 0px;
}
.mt3 {
	margin-top: 3px;
}
.mt5 {
	margin-top: 5px;
}
.mt8 {
	margin-top: 8px;
}
.mt10 {
	margin-top: 10px;
}
.mt12 {
	margin-top: 12px;
}
.mt15 {
	margin-top: 15px;
}
.mt20 {
	margin-top: 20px;
}
.mt25 {
	margin-top: 25px;
}
.mt30 {
	margin-top: 30px;
}
.mb3 {
	margin-bottom: 3px;
}
.mb5{
	margin-bottom: 5px;
}
.mb10 {
	margin-bottom: 10px;
}
.mb12 {
	margin-bottom: 12px;
}
.mb15 {
	margin-bottom: 15px;
}
.mb20 {
	margin-bottom: 20px;
}
.mb30 {
	margin-bottom: 30px;
}
.ml1 {
	margin-left: 1px;
}
.ml3 {
	margin-left: 3px;
}
.ml5 {
	margin-left: 5px;
}
.ml8 {
	margin-left: 8px;
}
.ml10 {
	margin-left: 10px;
}
.ml12 {
	margin-left: 12px;
}
.ml15 {
	margin-left: 15px;
}
.ml20 {
	margin-left: 20px;
}
.ml30 {
	margin-left: 30px;
}
.ml40 {
	margin-left: 40px;
}
.mr3 {
	margin-right: 3px;
}
.mr5 {
	margin-right: 5px;
}
.mr10 {
	margin-right: 10px;
}
.mr12 {
	margin-right: 12px;
}
.mr15 {
	margin-right: 15px;
}
.mr20 {
	margin-right: 20px;
}
.mr30{
	margin-right: 30px;
}
.mr40{
	margin-right: 40px;
}
.mr50{
	margin-right: 50px;
}


