@font-face {
  font-family: 'menu';
  src: url('../font/menu.eot?v=3.0.1');
  src: url('../font/menu.eot?#iefix&v=3.0.1') format('embedded-opentype'),
    url('../font/menu.woff?v=3.0.1') format('woff'),
    url('../font/menu.ttf?v=3.0.1') format('truetype');
  font-weight: normal;
  font-style: normal;
}
[class^="Menu-"],
[class*="Menu-"] {
  font-family: menu;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  /* sprites.less reset */
  display: inline;
  width: auto;
  height: auto;
  line-height: normal;
  vertical-align: baseline;
  background-image: none;
  background-position: 0% 0%;
  background-repeat: repeat;
  margin-top: 0;
  margin-right:2px
}
/* more sprites.less reset */
.icon-white,
.nav-pills > .active > a > [class^="Menu-"],
.nav-pills > .active > a > [class*=" Menu-"],
.nav-list > .active > a > [class^="Menu-"],
.nav-list > .active > a > [class*=" Menu-"],
.navbar-inverse .nav > .active > a > [class^="Menu-"],
.navbar-inverse .nav > .active > a > [class*=" Menu-"],
.dropdown-menu > li > a:hover > [class^="Menu-"],
.dropdown-menu > li > a:hover > [class*=" Menu-"],
.dropdown-menu > .active > a > [class^="Menu-"],
.dropdown-menu > .active > a > [class*=" Menu-"],
.dropdown-submenu:hover > a > [class^="Menu-"],
.dropdown-submenu:hover > a > [class*=" Menu-"] {
  background-image: none;
}
[class^="Menu-"]:before,
[class*=" Menu-"]:before {
  text-decoration: inherit;
  display: inline-block;
  speak: none;
}
/* makes sure icons active on rollover in links */
a [class^="Menu-"],
a [class*=" Menu-"] {
  display: inline-block;
}
/* makes the font 33% larger relative to the icon container */
.Menu-large:before {
  vertical-align: -10%;
  font-size: 1.3333333333333333em;
}
.btn [class^="Menu-"],
.nav [class^="Menu-"],
.btn [class*=" Menu-"],
.nav [class*=" Menu-"] {
  display: inline;
  /* keeps button heights with and without icons the same */

}
.btn [class^="Menu-"].Menu-large,
.nav [class^="Menu-"].Menu-large,
.btn [class*=" Menu-"].Menu-large,
.nav [class*=" Menu-"].Menu-large {
  line-height: .9em;
}
.btn [class^="Menu-"].Menu-spin,
.nav [class^="Menu-"].Menu-spin,
.btn [class*=" Menu-"].Menu-spin,
.nav [class*=" Menu-"].Menu-spin {
  display: inline-block;
}
.nav-tabs [class^="Menu-"],
.nav-pills [class^="Menu-"],
.nav-tabs [class*=" Menu-"],
.nav-pills [class*=" Menu-"] {
  /* keeps button heights with and without icons the same */

}
.nav-tabs [class^="Menu-"],
.nav-pills [class^="Menu-"],
.nav-tabs [class*=" Menu-"],
.nav-pills [class*=" Menu-"],
.nav-tabs [class^="Menu-"].Menu-large,
.nav-pills [class^="Menu-"].Menu-large,
.nav-tabs [class*=" Menu-"].Menu-large,
.nav-pills [class*=" Menu-"].Menu-large {
  line-height: .9em;
}
li [class^="Menu-"],
.nav li [class^="Menu-"],
li [class*=" Menu-"],
.nav li [class*=" Menu-"] {
  display: inline-block;
  width: 1.25em;
  text-align: center;
}
li [class^="Menu-"].Menu-large,
.nav li [class^="Menu-"].Menu-large,
li [class*=" Menu-"].Menu-large,
.nav li [class*=" Menu-"].Menu-large {
  /* increased font size for icon-large */

  width: 1.5625em;
}
ul.Menus {
  list-style-type: none;
  text-indent: -0.75em;
}
ul.Menus li [class^="Menu-"],
ul.Menus li [class*=" Menu-"] {
  width: .75em;
}
.Menu-muted {
  color: #eeeeee;
}
.Menu-border {
  border: solid 1px #eeeeee;
  padding: .2em .25em .15em;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.Menu-2x {
  font-size: 2em;
}
.Menu-2x.Menu-border {
  border-width: 2px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.Menu-3x {
  font-size: 3em;
}
.Menu-3x.Menu-border {
  border-width: 3px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.Menu-4x {
  font-size: 4em;
}
.Menu-4x.Menu-border {
  border-width: 4px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
.pull-right {
  float: right;
}
.pull-left {
  float: left;
}
[class^="Menu-"].pull-left,
[class*=" Menu-"].pull-left {
  margin-right: .3em;
}
[class^="Menu-"].pull-right,
[class*=" Menu-"].pull-right {
  margin-left: .3em;
}
.btn [class^="Menu-"].pull-left.Menu-2x,
.btn [class*=" Menu-"].pull-left.Menu-2x,
.btn [class^="Menu-"].pull-right.Menu-2x,
.btn [class*=" Menu-"].pull-right.Menu-2x {
  margin-top: .18em;
}
.btn [class^="Menu-"].Menu-spin.Menu-large,
.btn [class*=" Menu-"].Menu-spin.Menu-large {
  line-height: .8em;
}
.btn.btn-small [class^="Menu-"].pull-left.Menu-2x,
.btn.btn-small [class*=" Menu-"].pull-left.Menu-2x,
.btn.btn-small [class^="Menu-"].pull-right.Menu-2x,
.btn.btn-small [class*=" Menu-"].pull-right.Menu-2x {
  margin-top: .25em;
}
.btn.btn-large [class^="Menu-"],
.btn.btn-large [class*=" Menu-"] {
  margin-top: 0;
}
.btn.btn-large [class^="Menu-"].pull-left.Menu-2x,
.btn.btn-large [class*=" Menu-"].pull-left.Menu-2x,
.btn.btn-large [class^="Menu-"].pull-right.Menu-2x,
.btn.btn-large [class*=" Menu-"].pull-right.Menu-2x {
  margin-top: .05em;
}
.btn.btn-large [class^="Menu-"].pull-left.Menu-2x,
.btn.btn-large [class*=" Menu-"].pull-left.Menu-2x {
  margin-right: .2em;
}
.btn.btn-large [class^="Menu-"].pull-right.Menu-2x,
.btn.btn-large [class*=" Menu-"].pull-right.Menu-2x {
  margin-left: .2em;
}
.Menu-spin {
  display: inline-block;
  -moz-animation: spin 2s infinite linear;
  -o-animation: spin 2s infinite linear;
  -webkit-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
}
@-moz-keyframes spin {
  0% { -moz-transform: rotate(0deg); }
  100% { -moz-transform: rotate(359deg); }
}
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(359deg); }
}
@-o-keyframes spin {
  0% { -o-transform: rotate(0deg); }
  100% { -o-transform: rotate(359deg); }
}
@-ms-keyframes spin {
  0% { -ms-transform: rotate(0deg); }
  100% { -ms-transform: rotate(359deg); }
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(359deg); }
}
@-moz-document url-prefix() {
  .Menu-spin {
    height: .9em;
  }
  .btn .Menu-spin {
    height: auto;
  }
  .Menu-spin.Menu-large {
    height: 1.25em;
  }
  .btn .Menu-spin.Menu-large {
    height: .75em;
  }
}

.Menu-:before {
    content: "4";
}



.Menu-M1001:before {content: "\f001";}
.Menu-M1002:before {content: "\f002";}
.Menu-M1003:before {content: "\f003";}
.Menu-M1004:before {content: "\f095";}
.Menu-M1005:before {content: "\f006";}
.Menu-M1006:before {content: "\f094";}
.Menu-M1007:before {content: "\f007";}
.Menu-MA001:before {content: "\f021";}
.Menu-MA002:before {content: "\f022";}
.Menu-MA003:before {content: "\f024";}
.Menu-MA004:before {content: "\f023";}
.Menu-MA005:before {content: "\f025";}
.Menu-MB001:before {content: "\f079";}
.Menu-MB002:before {content: "\f047";}
.Menu-MB003:before {content: "\f058";}
.Menu-MB004:before {content: "\f058";}
.Menu-MC001:before {content: "\f079";}
.Menu-MC002:before {content: "\f057";}
.Menu-MC003:before {content: "\f064";}
.Menu-MC004:before {content: "\f051";}
.Menu-MD001:before {content: "\f023";}
.Menu-MD002:before {content: "\f024";}
.Menu-MD003:before {content: "\f025";}
.Menu-ME001:before {content: "\f023";}
.Menu-ME002:before {content: "\f023";}
.Menu-ME003:before {content: "\f023";}
.Menu-ME004:before {content: "\f023";}
.Menu-ME005:before {content: "\f023";}
.Menu-ME005:before {content: "\f023";}
.Menu-ME006:before {content: "\f023";}
.Menu-ME007:before {content: "\f023";}
.Menu-ME008:before {content: "\f023";}
.Menu-ME009:before {content: "\f023";}
.Menu-ME010:before {content: "\f023";}
.Menu-ME011:before {content: "\f023";}
.Menu-MF001:before {content: "\f026";}
.Menu-MF002:before {content: "\f033";}
.Menu-MF003:before {content: "\f047";}
.Menu-MG007:before {content: "\f026";}
.Menu-MG001:before {content: "\f056";}
.Menu-MG002:before {content: "\f042";}
.Menu-MG003:before {content: "\f009";}
.Menu-MG004:before {content: "\f051";}

.Menu-M2001:before {content: "\f004";}
.Menu-M2002:before {content: "\f005";}
.Menu-M2003:before {content: "\f008";}
.Menu-M2004:before {content: "\f009";}
.Menu-M2005:before {content: "\f010";}
.Menu-M2006:before {content: "\f011";}
.Menu-M2007:before {content: "\f012";}
.Menu-M2001:before {content: "\f013";}
.Menu-M2002:before {content: "\f014";}
.Menu-M2003:before {content: "\f016";}
.Menu-M2004:before {content: "\f017";}
.Menu-M2001:before {content: "\f018";}
.Menu-M2002:before {content: "\f019";}
.Menu-M2003:before {content: "\f027";}
.Menu-M2004:before {content: "\f028";}
.Menu-M2005:before {content: "\f029";}
.Menu-M2006:before {content: "\f030";}
.Menu-M2007:before {content: "\f031";}
.Menu-M2009:before {content: "\f032";}
.Menu-M2010:before {content: "\f034";}
.Menu-M2011:before {content: "\f035";}
.Menu-M2012:before {content: "\f036";}
.Menu-M2013:before {content: "\f037";}
.Menu-M2014:before {content: "\f038";}
.Menu-M2015:before {content: "\f039";}
.Menu-M2016:before {content: "\f040";}
.Menu-M2017:before {content: "\f041";}
.Menu-M2018:before {content: "\f043";}
.Menu-M2019:before {content: "\f044";}
.Menu-M2020:before {content: "\f045";}
.Menu-M2021:before {content: "\f046";}
.Menu-M2022:before {content: "\f048";}
.Menu-M2023:before {content: "\f049";}
.Menu-M2024:before {content: "\f050";}
.Menu-M2025:before {content: "\f051";}
.Menu-M2026:before {content: "\f052";}
.Menu-M2027:before {content: "\f053";}
.Menu-M2028:before {content: "\f054";}
.Menu-M2029:before {content: "\f055";}
.Menu-M2030:before {content: "\f059";}
.Menu-M2031:before {content: "\f060";}
.Menu-M2032:before {content: "\f061";}
.Menu-M2033:before {content: "\f062";}
.Menu-M2034:before {content: "\f063";}
.Menu-M2035:before {content: "\f064";}
.Menu-M2036:before {content: "\f065";}
.Menu-M2037:before {content: "\f066";}
.Menu-M2038:before {content: "\f067";}
.Menu-M2039:before {content: "\f068";}
.Menu-M2040:before {content: "\f069";}
.Menu-M2041:before {content: "\f070";}
.Menu-M2042:before {content: "\f071";}
.Menu-M2043:before {content: "\f072";}
.Menu-M2044:before {content: "\f073";}
.Menu-M2045:before {content: "\f074";}
.Menu-M2046:before {content: "\f075";}
.Menu-M2047:before {content: "\f076";}
.Menu-M2048:before {content: "\f077";}
.Menu-M2049:before {content: "\f080";}
.Menu-M2050:before {content: "\f081";}
.Menu-M2051:before {content: "\f082";}
.Menu-M2052:before {content: "\f098";}
.Menu-M2053:before {content: "\f084";}
.Menu-M2054:before {content: "\f085";}
.Menu-M2055:before {content: "\f086";}
.Menu-M2056:before {content: "\f087";}
.Menu-M2057:before {content: "\f088";}
.Menu-M2058:before {content: "\f089";}
.Menu-M2059:before {content: "\f090";}
.Menu-M2060:before {content: "\f091";}
.Menu-M2061:before {content: "\f092";}
.Menu-M2062:before {content: "\f093";}
.Menu-M2063:before {content: "\f083";}
.Menu-M2064:before {content: "\f097";}
.Menu-M2065:before {content: "\f111";}
.Menu-M2066:before {content: "\f112";}


